/***********/
/* Stories */
/***********/
.stories {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 50vw;
    min-width: 540px;
    border: solid 1px #dbdbdb;
    margin-bottom: 30px;
    background-color: #fff;
    overflow: hidden;
}
.stories > div {
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.stories > div .pic {
    min-width: 50px;
    min-height: 50px;
    border: solid 3px #dbdbdb;
    border-radius: 27px;
}
.stories p {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 0.80em;
    color: #999;
}