
.suggestion-text {
    color: #999;
    font-weight: 600;
    letter-spacing: 0px;
}

.suggestions section {
    display: grid;
    grid-template-columns: 43px auto 80px;
    align-items: center;
}

.suggestions section > div {
    padding: 8px;
}

.suggestions .username {
    text-overflow: ellipsis;
    overflow: hidden;
}
.suggestions section p, .suggestions section a {
    margin: 0px;
}
.suggestions section p {
    color: #333;
    font-weight: 600;
}
.suggestions section a {
    font-size: 0.8em;
}
.suggestions section p:nth-child(2) {
    color: #999;
    font-size: 0.8em;
    font-weight: 400;
}
.suggestions section .pic {
    min-width: 30px;
    min-height: 30px;
    border: solid 1px #dbdbdb;
    border-radius: 15px;
}